<%- include('./includes/head.ejs') %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <%- include('./includes/header.ejs') %>

  <%- include('./includes/sidebar.ejs') %>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Профильная информация
        <small>Панель управления</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/@admin/home"><i class="fa fa-dashboard"></i> Главная страница</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        
      </div>

    </section>
    <!-- /.content -->
  </div>

  <%- include('./includes/footer.ejs') %>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<%- include('./includes/end.ejs') %>
</body>
</html>
