<%- include('./includes/head.ejs') %>

<body class="theme3">
    <%- include('./includes/loader.ejs') %>

    <%- include('./includes/navbar.ejs') %>
    
    <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Новости</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Главная страница</a></li>
                    <li>Новости</li>
                </ul>
            </div>
        </div>
    </div>
    
    <section class="th-blog-wrapper space-top space-extra-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-lg-7">

          <% if (blogs.length === 0) { %>
            <div class="text-center" style="margin: 60px 0;">
              <p style="font-size: 1.2rem; color: #666;">
                Пока нет опубликованных новости.
              </p>
            </div>
          <% } else { %>
            <% for (let i = 0; i < blogs.length; i++) { %>
              <div class="th-blog blog-single has-post-thumbnail">
                <div class="blog-img">
                  <a href="blog/<%= blogs[i].id %>">
                    <img src="/uploads/img/<%= blogs[i].image_url %>" alt="Blog Image">
                  </a>
                </div>
                <div class="blog-content">
                  <div class="blog-meta">
                    <a class="author" href="#">
                      <img src="/assets/img/blog/author-1-1.png" alt="avater">
                      By <%= blogs[i].author %>
                    </a>
                    <a href="#">
                      <i class="fa-light fa-calendar-days"></i>
                      <%= blogs[i].published_on %>
                    </a>
                  </div>
                  <h2 class="blog-title">
                    <a href="blog/<%= blogs[i].id %>"><%= blogs[i].title %></a>
                  </h2>
                  <p class="blog-text">
                    <%= blogs[i].content.replace(/<[^>]*>/g, '') %>...
                  </p>
                  <a href="blog/<%= blogs[i].id %>" class="line-btn">Больше</a>
                </div>
              </div>
            <% } %>

            <div class="th-pagination text-center">
              <ul>
                <% if (pagination.hasPrev) { %>
                  <li><a href="/blog?page=<%= pagination.prevPage %>"><i class="far fa-arrow-left"></i></a></li>
                <% } else { %>
                  <li class="disabled"><span><i class="far fa-arrow-left"></i></span></li>
                <% } %>

                <% pagination.pages.forEach(function(p){ %>
                  <% if (p === '…') { %>
                    <li class="disabled"><span>…</span></li>
                  <% } else if (p === pagination.currentPage) { %>
                    <li class="active"><span><%= p %></span></li>
                  <% } else { %>
                    <li><a href="/blog?page=<%= p %>"><%= p %></a></li>
                  <% } %>
                <% }); %>

                <% if (pagination.hasNext) { %>
                  <li><a href="/blog?page=<%= pagination.nextPage %>"><i class="far fa-arrow-right"></i></a></li>
                <% } else { %>
                  <li class="disabled"><span><i class="far fa-arrow-right"></i></span></li>
                <% } %>
              </ul>
            </div>
          <% } %>

        </div>
      </div>
    </div>
  </section>
    
    <%- include('./includes/footer.ejs') %>
    
    <%- include('./includes/end.ejs') %>

</body>
<!-- Mirrored from html.themeholy.com/webteck/demo/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:06:29 GMT -->

</html>