<%- include('./includes/head.ejs') %>

    <body class="theme3">
        <%- include('./includes/loader.ejs') %>

            <%- include('./includes/navbar.ejs') %>
                <div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcumb-bg.jpg">
                    <div class="container">
                        <div class="breadcumb-content">
                            <h1 class="breadcumb-title">Оценка для тестирования</h1>
                            <ul class="breadcumb-menu">
                                <li><a href="/">Главная</a></li>
                                <li> <a href="/evaluation/test">Оценка для тестирования </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden space-bottom" id="service-sec">
                    <div class="container th-container4">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="title-area text-center"><span class="sub-title"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4 justify-content-center">
                            <% for (let i = 0; i < tests.length; i++) { %> 
                            <div class="col-xl-3 col-lg-4 col-md-6 feature-card-wrap2">
                                <div class="feature-card style2">
                                    <div class="feature-card-icon"><img src="/assets/img/icon/feature_card_8_3.svg" alt="icon"></div>
                                    <h3 class="box-title"><a href="/evaluation/test/<%= tests[i].id %>"><%= tests[i].test_name %></a></h3>
                                    <p class="feature-card_text">Автор <%= tests[i].author_name %></p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

   
            <%- include('./includes/footer.ejs') %>

        <%- include('./includes/end.ejs') %>

    </body>
    <!-- Mirrored from html.themeholy.com/webteck/demo/home-ai.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:01:16 GMT -->

    </html>