<%- include('./includes/head.ejs') %>

<body class="theme3">
    
    <%- include('./includes/loader.ejs') %>

    <%- include('./includes/navbar.ejs') %>

    <!--    Home main slider    -->
    <div class="th-hero-wrapper hero-24 position-relative" id="hero" data-bg-src="assets/img/bg/bg_pattern.png">
        <div class="hero-overlay"></div>
        <div class="swiper th-slider" id="heroSlide23"
            data-slider-options='{"effect":"fade","loop":true,"paginationType":"progressbar"}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container th-container4">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="hero-style24">
                                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.4s">Python для
                                            <span>веб-разработки</span></h1>
                                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Создавайте мощные и расширяемые веб-приложения с Python
Фреймы, такие как Django и Flask. Python упрощает программирование быстрее и завоевывает доверие ведущих компаний по всему миру.
                                        </p>
                                        <div class="btn-group justify-content-center justify-content-xl-start"
                                            data-ani="slideinup" data-ani-delay="0.9s"><a href="/media/videos"
                                                class="th-btn2 style2"><span>Видеоинструкции</span><span class="icon"><i
                                                        class="fa-solid fa-caret-right"></i></span></a> <a
                                                href="/media/presentations/" class="th-btn2 th-border">Материалы</a></div>
                                        <!-- <div class="hero-client-box mb-sm-0 mb-5" data-ani="slideinup"
                                            data-ani-delay="0.8s">
                                            <div class="client-thumb-group">
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-1.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-2.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-3.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-4.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-5.png"
                                                        alt="avater"></div>
                                            </div>
                                            <h4 class="cilent-box_counter"><span class="counter-number">5</span>k+ Real
                                                Clients</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="th-hero-img" data-ani="slideinup" data-ani-delay="0.10s"><img
                                            src="assets/img/hero/hero_24_1.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container th-container4">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="hero-style24">
                                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.4s">Python для 
                                            <span>ИИ и машинного обучения</span> </h1>
                                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Заряжайте свои AI-проекты богатыми библиотеками Python, такими как TensorFlow и PyTorch. От анализа данных до интеллектуальных систем, Python сегодня управляет инновациями в области машинного обучения.</p>
                                        <div class="btn-group justify-content-center justify-content-xl-start"
                                            data-ani="slideinup" data-ani-delay="0.9s"><a href="/media/videos"
                                                class="th-btn2 style2"><span>Видеоинструкции</span><span class="icon"><i
                                                        class="fa-solid fa-caret-right"></i></span></a> <a
                                                href="/media/presentations/" class="th-btn2 th-border">Материалы</a></div>
                                        <!-- <div class="hero-client-box mb-sm-0 mb-5" data-ani="slideinup"
                                            data-ani-delay="0.8s">
                                            <div class="client-thumb-group">
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-1.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-2.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-3.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-4.png"
                                                        alt="avater"></div>
                                                <div class="thumb"><img src="assets/img/hero/client-img-3-5.png"
                                                        alt="avater"></div>
                                            </div>
                                            <h4 class="cilent-box_counter"><span class="counter-number">5</span>k+ Real
                                                Clients</h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="th-hero-img" data-ani="slideinup" data-ani-delay="0.10s"><img
                                            src="assets/img/hero/hero_24_2.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-controller">
                <div class="icon-box"><button data-slider-prev="#heroSlide23"
                        class="slider-arrow default slider-prev"><i
                            class="fa-sharp fa-solid fa-caret-left"></i></button> <button
                        data-slider-next="#heroSlide23" class="slider-arrow default slider-next"><i
                            class="fa-sharp fa-solid fa-caret-right"></i></button></div>
                <div class="slider-pagination" data-slider-id="#heroSlide23"></div>
                <div class="slider-pagination2"></div>
            </div>
        </div>
        <div class="hero-counter_wrapp">
            <div class="hero-counter">
                <h2 class="counter-title mb-0"><span class="counter-number">400000</span>+</h2><span
                    class="hero-counter_text">Библиотеки в PyPI </span>
            </div>
            <div class="hero-counter">
                <h2 class="counter-title mb-0"><span class="counter-number">10000000</span>+</h2><span
                    class="hero-counter_text">Разработчики Python</span>
            </div>
        </div>
    </div>

    <!-- Section 2  -->
    <div class="brand-sec4 overflow-hidden space" data-bg-src="assets/img/bg/bg_pattern.png">
        <div class="container th-container4">
            <div class="title-area mb-60 text-center">
                <h3 class="brand-title mt-n2">Язык номер один в области науки о данных и искусственного интеллекта</h3>
            </div>
            <div class="slider-area text-center">

                </div>
            </div>
        </div>
    </div>

    <!-- Section 3  -->
    <div>
        <div class="service-sec24 position-relative overflow-hidden space" id="service-sec">
            <div class="container th-container4">
                <div class="title-area text-center mb-40">
                    <h2 class="sec-title text-white">Что можно сделать с Python</h2><img
                        src="assets/img/theme-img/title_shape_8.svg" alt="">
                </div>
                <div class="row gy-4 justify-content-between align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_1.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Создание безопасных, расширяемых веб-сайтов и API</a></h3>
                        </div>
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_2.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Обучение моделей, анализ данных и создание умных приложений</a></h3>
                        </div>
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_3.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Обработка, визуализация и понимание сложных данных</a></h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="service-image wow fadeInUp"><img src="assets/img/normal/service-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_4.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Создание 2D и 3D игр с помощью двигателей</a></h3>
                        </div>
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_5.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Легкая автоматизация повседневных задач, веб-разрезания и рабочих процессов</a></h3>
                        </div>
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_6.svg" alt="Icon"></div>
                            <h3 class="box-title"><a href="service-details.html">Управление серверами, размещение приложений</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <% if (blogs.length > 0) { %>
    <section class="blog-area11 overflow-hidden space" id="blog-sec">
        <div class="container th-container4">
            <div class="title-area text-center">
                <h2 class="sec-title">Последние блоги</h2><img src="assets/img/theme-img/title_shape_7.svg" alt="">
            </div>
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" id="blogSlider12"
                    data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
                    <div class="swiper-wrapper">
                        <% for (let i = 0; i < blogs.length; i++) { %>
                        <div class="swiper-slide">
                            <div class="blog-box2 style6">
                                <div class="blog-img" data-mask-src="assets/img/blog/blog-shape.png"><img
                                        src="/uploads/img/<%= blogs[i].image_url %>" alt="blog image"></div>
                                <div class="blog-box2_content">
                                    <div class="blog-meta"><a href="/blog/<%= blogs[i].id %>"><i class="far fa-calendar"></i> <%= blogs[i].published_on %></a> <a href="/blog/<%= blogs[i].id %>"><i class="far fa-user"></i>By <%= blogs[i].author %></a></div>
                                    <h3 class="box-title"><a href="/blog/<%= blogs[i].id %>"><%= blogs[i].title %></a></h3><a href="/blog/<%= blogs[i].id %>"
                                        class="th-btn2"><span>Больше</span><span class="icon"><i
                                                class="fa-solid fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div><button data-slider-prev="#blogSlider12" class="slider-arrow slider-prev"><i
                        class="far fa-arrow-left"></i></button> <button data-slider-next="#blogSlider12"
                    class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <% } %>

    <%- include('./includes/footer.ejs') %>
    
    <%- include('./includes/end.ejs') %>
    
</body>
<!-- Mirrored from html.themeholy.com/webteck/demo/home-ai.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:01:16 GMT -->

</html> 