<%- include('./includes/head.ejs') %>

<body class="theme3">
    
    <%- include('./includes/loader.ejs') %>

    <%- include('./includes/navbar.ejs') %>

    <!--    Home main slider    -->
    <div class="th-hero-wrapper hero-24 position-relative" id="hero" data-bg-src="assets/img/bg/bg_pattern.png">
        <div class="hero-overlay"></div>
        <div class="swiper th-slider" id="heroSlide23"
            data-slider-options='{"effect":"fade","loop":true,"paginationType":"progressbar"}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container th-container4">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="hero-style24">
                                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.4s">Не просто IT — это способ 
                                            <span>думать системно</span></h1>
                                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Информационные технологии в технических системах — это не просто курс. Это мышление. Ты научишься видеть задачу как систему, а решение — как алгоритм. И всё это — в цифровой среде, с реальными инструментами.
                                        </p>
                                        <div class="btn-group justify-content-center justify-content-xl-start"
                                            data-ani="slideinup" data-ani-delay="0.9s"><a href="/media/videos"
                                                class="th-btn2 style2"><span>Видеоуроки</span><span class="icon"><i
                                                        class="fa-solid fa-caret-right"></i></span></a> <a
                                                href="/media/presentations/" class="th-btn2 th-border">Инструкции</a></div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="th-hero-img" data-ani="slideinup" data-ani-delay="0.10s"><img
                                            src="assets/img/hero/hero_24_1.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="hero-inner">
                        <div class="container th-container4">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="hero-style24">
                                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.4s">
                                            <span>Цифровые технологии</span>  в инженерном мышлении 
                                        </h1>
                                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.6s">Цифровые технологии в инженерном мышлении — это не просто направление. Это способ понимать, как работает мир вокруг. Ты научишься превращать идею в модель, а модель — в решение. Каждая задача — это процесс, который можно оптимизировать с помощью данных, логики и кода. Всё это — в реальных цифровых средах, где теория встречается с практикой.</p>
                                        <div class="btn-group justify-content-center justify-content-xl-start"
                                            data-ani="slideinup" data-ani-delay="0.9s"><a href="/media/videos"
                                                class="th-btn2 style2"><span>Видеоуроки</span><span class="icon"><i
                                                        class="fa-solid fa-caret-right"></i></span></a> <a
                                                href="/media/presentations/" class="th-btn2 th-border">Инструкции</a></div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="th-hero-img" data-ani="slideinup" data-ani-delay="0.10s"><img
                                            src="assets/img/hero/hero_24_2.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-controller">
                <div class="icon-box"><button data-slider-prev="#heroSlide23"
                        class="slider-arrow default slider-prev"><i
                            class="fa-sharp fa-solid fa-caret-left"></i></button> <button
                        data-slider-next="#heroSlide23" class="slider-arrow default slider-next"><i
                            class="fa-sharp fa-solid fa-caret-right"></i></button></div>
                <div class="slider-pagination" data-slider-id="#heroSlide23"></div>
                <div class="slider-pagination2"></div>
            </div>
        </div>
        <div class="hero-counter_wrapp">
            <div class="hero-counter">
                <h2 class="counter-title mb-0"><span class="counter-number">10</span>+</h2><span
                    class="hero-counter_text">реальных инструментов </span>
            </div>
            <div class="hero-counter">
                <h2 class="counter-title mb-0"><span class="counter-number">1000</span>+</h2><span
                    class="hero-counter_text">часов практики</span>
            </div>
        </div>
    </div>

    <!-- Section 2  -->
    <div class="brand-sec4 overflow-hidden space" data-bg-src="assets/img/bg/bg_pattern.png">
        <div class="container th-container4">
            <div class="title-area mb-60 text-center">
                <h3 class="brand-title mt-n2">Системное мышление встречает цифровые технологии.</h3>
            </div>
            <div class="slider-area text-center">

                </div>
            </div>
        </div>
    </div>

    <!-- Section 3  -->
    <div>
        <div class="service-sec24 position-relative overflow-hidden space" id="service-sec">
            <div class="container th-container4">
                <div class="title-area text-center mb-40">
                    <h2 class="sec-title text-white">Информационные технологии в технических системах </h2><img
                        src="assets/img/theme-img/title_shape_8.svg" alt="">
                </div>
                <div class="row gy-4 justify-content-between align-items-center">
                    <div class="col-12 col-lg-4">
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_1.svg" alt="Icon"></div>
                            <h3 class="box-title">Построение умных систем и алгоритмов для реальных задач</h3>
                        </div>
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_2.svg" alt="Icon"></div>
                            <h3 class="box-title">Моделирование процессов и анализ данных в технических решениях</h3>
                        </div>
                        <div class="service-block style1">
                            <div class="box-icon"><img src="assets/img/icon/service_12_3.svg" alt="Icon"></div>
                            <h3 class="box-title">Понимание сложных систем через визуализацию и цифровые модели</h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="service-image wow fadeInUp"><img src="assets/img/normal/service-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_4.svg" alt="Icon"></div>
                            <h3 class="box-title">Создание цифровых двойников и симуляций</h3>
                        </div>
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_5.svg" alt="Icon"></div>
                            <h3 class="box-title">Автоматизация инженерных процессов и анализ производительности</h3>
                        </div>
                        <div class="service-block">
                            <div class="box-icon"><img src="assets/img/icon/service_12_6.svg" alt="Icon"></div>
                            <h3 class="box-title">Управление цифровой инфраструктурой и интеграция технологий</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <% if (blogs.length > 0) { %>
    <section class="blog-area11 overflow-hidden space" id="blog-sec">
        <div class="container th-container4">
            <div class="title-area text-center">
                <h2 class="sec-title">Последние новости</h2><img src="assets/img/theme-img/title_shape_7.svg" alt="">
            </div>
            <div class="slider-area">
                <div class="swiper th-slider has-shadow" id="blogSlider12"
                    data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"}}}'>
                    <div class="swiper-wrapper">
                        <% for (let i = 0; i < blogs.length; i++) { %>
                        <div class="swiper-slide">
                            <div class="blog-box2 style6">
                                <div class="blog-img" data-mask-src="assets/img/blog/blog-shape.png"><img
                                        src="/uploads/img/<%= blogs[i].image_url %>" alt="blog image"></div>
                                <div class="blog-box2_content">
                                    <div class="blog-meta"><a href="/blog/<%= blogs[i].id %>"><i class="far fa-calendar"></i> <%= blogs[i].published_on %></a> <a href="/blog/<%= blogs[i].id %>"><i class="far fa-user"></i>By <%= blogs[i].author %></a></div>
                                    <h3 class="box-title"><a href="/blog/<%= blogs[i].id %>"><%= blogs[i].title %></a></h3><a href="/blog/<%= blogs[i].id %>"
                                        class="th-btn2"><span>Больше</span><span class="icon"><i
                                                class="fa-solid fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div><button data-slider-prev="#blogSlider12" class="slider-arrow slider-prev"><i
                        class="far fa-arrow-left"></i></button> <button data-slider-next="#blogSlider12"
                    class="slider-arrow slider-next"><i class="far fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <% } %>

    <% if (profile_meta) { %> 
    <div class="overflow-hidden space"  id="about-sec">
        <div class="container th-container4">
            <div class="about-area5">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="pe-xl-5 me-xl-4">
                            <div class="title-area mb-30"><span class="sub-title">Автор</span>
                                <h2 class="about-card_title"><%= profile_meta.first_name %> <%= profile_meta.last_name %></h2>
                                <p class="about-card_desig"><%= profile_meta.job %></p>
                            </div>
                            <p class="about-card_text"><%= profile_meta.about_me %></p>
                            <div class="checklist">
                                <ul>
                                    <li><i class="far fa-check-circle"></i> Более <%= profile_meta.experience_years %> лет стаж работы</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="img-box6">
                            <div class="img1"><img src="<% if (profile_meta.image_url) { %> /uploads/img/<%= profile_meta.image_url %> <% } else { %> ./assets/img/team/team_1_2.jpg <% } %>" alt="About"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <%- include('./includes/footer.ejs') %>
    
    <%- include('./includes/end.ejs') %>
    
</body>
<!-- Mirrored from html.themeholy.com/webteck/demo/home-ai.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Sep 2025 22:01:16 GMT -->

</html> 